[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[difftool]
	prompt = false
[alias]
	st = status -s -b
	lg = log --graph --pretty=tformat:'%<(10)%C(red)%h %<(14,trunc)%C(blue)%an %C(reset)%s %C(cyan)%cd%C(reset) %C(green)%d' --date=format:'%d-%b/%a %H:%M'
	gg = grep -En --break --heading
	ap = add -p
	ca = commit --amend
	c = checkout
	remote-prune = remote prune origin
	stash-all = stash save --include-untracked
[merge]
	tool = meld3way
	conflictstyle = diff3
[mergetool "meld2way"]
	cmd = meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "meld3way"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[push]
	default = current
	followTags = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[remote "origin"]
	prune = true
[fetch]
	prune = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	whitespace = red reverse
[user]
	name = max.rodionov
