[user]
	name = max.rodionov
	email = max.rodionov@synesis.ru
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[difftool]
	prompt = false
[alias]
	st	= status -s -b
	lg = log --graph --pretty=tformat:'%<(10)%C(red)%h %<(14,trunc)%C(blue)%an %<(80,trunc)%C(reset)%s %C(bold blue)%cr%C(reset) %C(green)%d'
	gg = grep -En --break --heading
	ap = add -p
	ca = commit --amend
	c = checkout
[merge]
	tool = meld3way
	conflictstyle = diff3
[mergetool "meld2way"]
	cmd = meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "meld3way"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[push]
	default = current
[branch]
	autosetuprebase = always
[pull]
	rebase = true
