[core]
	excludesfile = ~/.gitignore
#pager = git-split-diffs --color | less -RFX
[color]
	ui = true
#[split-diffs]
#	theme-name=github-light
[difftool]
	prompt = false
[alias]
	st = status -s -b
	lg = log --graph --pretty=tformat:'%<(10)%C(red)%h %<(14,trunc)%C(blue)%an %C(reset)%s %C(cyan)%cd%C(reset) %C(green)%d' --date=format:'%d-%b/%a %H:%M'
	gg = grep -En --break --heading
	ap = add -p
	ca = commit --amend
	c = checkout
	remote-prune = remote prune origin
	br = branch --sort=-committerdate --format='%(if)%(upstream:track)%(then)%(if:equals=[gone])%(upstream:track)%(then)%(color:red)%(else)%(color:yellow)%(end)%(end)%(align:left,50)%(refname:lstrip=2) %(HEAD)%(end) %(align:left,30)%(if)%(upstream)%(then)%(upstream:remotename)%(upstream:track)%(else)<no upstream>%(end)%(end)%(committerdate)'
	stash-all = stash save --include-untracked
[merge]
	tool = smerge
	conflictstyle=diff3
[mergetool "meld2way"]
	cmd = meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "meld3way"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[push]
	default = current
	followTags = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[remote "origin"]
	prune = true
[fetch]
	prune = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	whitespace = red reverse
[init]
	defaultBranch = main
[user]
	name = max.rodionov
[includeIf "gitdir:~/w/nooga/"]
	path = ~/.gitconfig.nooga
[includeIf "gitdir:~/w/me/"]
	path = ~/.gitconfig.me
