# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth

# revert default atom behaviour that was redefined by vim-mode-plus
'atom-workspace atom-text-editor':
  'ctrl-f': 'find-and-replace:show'

'atom-workspace atom-text-editor:not([mini]).autocomplete-active':
  'alt-k': 'core:move-up'
  'alt-j': 'core:move-down'

'.command-palette atom-text-editor,
.fuzzy-finder atom-text-editor,
atom-panel.modal':
  'alt-k': 'core:move-up'
  'alt-j': 'core:move-down'
  'alt-h': 'core:move-left'
  'alt-l': 'core:move-right'

'.advanced-open-file':
  'alt-k': 'advanced-open-file:move-cursor-up'
  'alt-j': 'advanced-open-file:move-cursor-down'

'atom-workspace atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-j': 'core:page-down'
  'ctrl-k': 'core:page-up'
  # 'ctrl-tab': 'linter-ui-default:next'
  'ctrl-tab': 'diagnostics:go-to-next-diagnostic'
  'ctrl-shift-tab': 'diagnostics:go-to-previous-diagnostic'

# git-blame toogle to work with vim-mode
'atom-text-editor':
  'alt-ctrl-b': 'git-blame:toggle'

# change keymap to prevent conflict with "open file" functionality
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-]': 'symbols-tree-view:toggle'

# Use the same bindings for all go-to-definition resources
'.platform-linux atom-text-editor[data-grammar="source python"]:not(.mini)':
  'ctrl-]': 'autocomplete-python:go-to-definition'

'atom-workspace atom-text-editor.vim-mode-plus:not(.insert-mode):not([mini])[data-grammar^="source ts"]':
  'ctrl-]': 'typescript:go-to-declaration'
  'g r': 'typescript:find-references'
  'ctrl-t': 'typescript:return-from-declaration'

'.platform-linux atom-text-editor[data-grammar="source js"]:not(.mini)':
  'ctrl-]': 'atom-ternjs:definition'

'.platform-linux atom-text-editor:not(.mini)':
  # the same with vim-emmet
  'ctrl-y ,': 'emmet:expand-abbreviation'
  'ctrl-e': 'emmet:expand-abbreviation'
  "ctrl-shift-'": 'emmet:update-tag'
  'ctrl-alt-j': 'emmet:matching-pair'

# We disable all docblockr keys expect below
'atom-text-editor:not([mini])':
  'enter': 'docblockr:parse-enter'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g f': 'open-this:here'
  ':': 'ex-mode:open'

'atom-text-editor.vim-mode-plus.normal-mode':
  # Surround family
  'y s w': 'vim-mode-plus:surround-word'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

'atom-text-editor.vim-mode-plus.visual-mode':
  'y s': 'vim-mode-plus:surround'
  'y s m':  'vim-mode-plus:map-surround'
