"kipod-x":
  title: "kipod-x"
  paths: [
    "/home/max/work/kipod-js-plugins"
  ]
"kipod-js-plugins":
  title: "kipod-js-plugins"
  paths: [
    "/home/max/work/kipod-js-plugins"
  ]
"kipod-station":
  title: "kipod-station"
  paths: [
    "/home/max/work/kipod-station"
  ]
