"kipod-x":
  title: "kipod-x"
  paths: [
    "/home/max.rodionov/work/kipod-js-plugins"
  ]
"kipod-js-plugins":
  title: "kipod-js-plugins"
  paths: [
    "/home/max.rodionov/work/kipod-js-plugins"
  ]
