# Synesis projects related snippets

'.source.js,.source.stylus,source.c,source.cpp':
    'Copyright header':
        prefix: 'fcr'
        body: """
        /*
        * Copyright (C) 2016 Synesis LLC. All rights reserved.
        * Author Maxim Rodionov <max.rodionov@synesis.ru>, Synesis LLC www.synesis.ru.
        */
        /*
        * $1
        */
        """

# selector taken from https://github.com/atom/language-html/blob/master/snippets/language-html.cson
'.text.html, .text.html .meta.scope.between-tag-pair, .text.html .punctuation.tag.begin':
    'Copyright header':
        prefix: 'fcr'
        body: """
        <!--
         Copyright (C) 2016 Synesis LLC. All rights reserved.
         Author Maxim Rodionov <max.rodionov@synesis.ru>, Synesis LLC www.synesis.ru.
        -->
        """

'.source.js':
    ngController:
        prefix: 'ctrl'
        body: """
            import angular from 'angular';
            import mod from '$1';

            export const fullName = mod.name + '.$2';
            mod.controller(fullName, $2);

            $2.$inject = [
            ];
            function $2() {
                const $ctrl = angular.extend(this, {
                });
            }
            """
    ngComponent:
        prefix: 'cmpt'
        body: """
            import angular from 'angular';
            import mod from '$1';

            export const fullName = 'ks$2';
            mod.component(fullName, {
                bindings: {
                },
                controller: $2Ctrl,
                template: '',
            });

            $2Ctrl.$inject = [
            ];
            function $2Ctrl() {
                const $ctrl = angular.extend(this, {
                });
            }

            """
    ngService:
        prefix: 'srv'
        body: """
            import angular from 'angular';
            import mod from '$1';

            export const fullName = mod.name + '.$2';
            mod.service(fullName, $3);

            $3.$inject = [
            ];
            function $3() {
                const $2 = angular.extend(this, {
                });
            }
            """
    ngTest:
        prefix: 'test'
        body: """
            import * as tests from 'tests/main';

            describe(__filename, function () {
                let ctx;
                Given(function () {
                    ctx = tests.getCtx();
                });

                describe('$1', function () {
                });
            });

            """
    ngMain:
        prefix: 'ngmain'
        body: """
            import mod from './module';
            import {configFnForL10n} from 'app/core/l10n_srv';
            import l10n from './l10n';

            export default mod.config(configFnForL10n(l10n));

            """
    ngModule:
        prefix: 'ngmodule'
        body: """
            import angular from 'angular';
            export default angular.module('ks.$1', []);

            """
    ngl10n:
        prefix: 'ngl10n'
        body: """
            export default {$1: {
            }};

            """