/*
Make vim ":rm"-like commands more readable
*/
#vscodevim\.vim.statusbar-item {
    font-size: 15px;
    color: #c3e88d;
}


/* Make Ctrl-P menu more readable */
.quick-open-tree .monaco-tree .monaco-tree-rows>.monaco-tree-row {
    font-size: 15px;
    line-height: 22px;
}

.quick-open-tree .monaco-tree .monaco-tree-rows>.monaco-tree-row>.content {
    padding-left: 8px;
}


.monaco-quick-open-widget {
    top: 200px !important;
}

/* Highlight "not saved" icon it top right corner of editor */
.action-label.icon.menu-item-action-item-icon-4 {
    background-color: #f4877161;
}



.part.statusbar.debugging {
    background-color: rgba(204, 102, 51, 0.3) !important;
}

/* Visually distinct control panel with terminal/output/... */
.part.panel.bottom {
    box-shadow: #141414 0px -1px 4px 0px;
}

/* Highilight errors and warnings statuses in bottom panel */
#status\.problems[title*="Errors"] .octicon-error {
    color: #f44336;
}
#status\.problems[title*="Warnings"] .octicon-warning {
    color: #FF9800;
}
