/*
Make vim ":rm"-like commands more readable
*/
#vscodevim\.vim.statusbar-item {
    font-size: 15px;
    color: #c3e88d;
}


/* Make Ctrl-P menu more readable */
.quick-open-tree .monaco-tree .monaco-tree-rows>.monaco-tree-row {
    font-size: 15px;
    line-height: 22px;
}

.quick-open-tree .monaco-tree .monaco-tree-rows>.monaco-tree-row>.content {
    padding-left: 8px;
}


.monaco-quick-open-widget {
    top: 200px !important;
}

/* Add red "*" to "unsaved changes" icon */
.icon.menu-item-action-item-icon-5:after {
    content: "*";
    color:  red;
    font-weight: bold;
    font-size: 18px;
}

.task-statusbar-item-label-counter[title*="Errors"]:not([title="0 Errors"]) {
    color: #f48771;
    font-weight: bold;
}

.task-statusbar-item-label-error[title*="Errors"]:not([title="0 Errors"]) {
    background-color: #f48771 !important;

}

.part.statusbar.debugging {
    background-color: rgba(204, 102, 51, 0.3) !important;
}

/* Visually distinct control panel with terminal/output/... */
.part.panel.bottom {
    box-shadow: #141414 0px -1px 4px 0px;
}

