/*
Improve font and color of vim command line (":rm"-like commands)
*/
#vscodevim\.vim\.primary.statusbar-item {
    font-size: 15px;
    color: #c3e88d;
    background-color: rgba(10, 10, 10, 0.4);
}


/* Make Ctrl-P menu more readable */
.quick-input-widget {
    top: 200px !important;
}


/* Make close icon "red" for not saved tab content*/
.tab.dirty .codicon-close:before {
    color: #F44336;
}



.part.statusbar.debugging {
    background-color: rgba(204, 102, 51, 0.3) !important;
}

/* Visually distinct control panel with terminal/output/... */
.part.panel.bottom {
    box-shadow: #00BCD4 0px -1px 4px 0px;
}

/* Highlight errors and warnings statuses in bottom panel */
#status\.problems[title*="Errors"] .codicon-error {
    font-weight: bold;
    color: rgb(248, 128, 112);
}
#status\.problems[title*="Warnings"] .codicon-warning {
    font-weight: bold;
    color: #FF9800;
}
#status\.problems[title*="Infos"] .codicon-info {
    font-weight: bold;
    color: #0c7d9d;
}

/* Highlight enabled options(regexp/whole world/etc...) in search panel */
.monaco-custom-checkbox.checked {
    color: #75beff !important;
}

.tab.active.tab-border-top>.tab-border-top-container {
    margin-top: 2px;
    height: 4px !important;
}

.tab.active.tab-border-top .label-name {
    font-weight: 500;
}

.statusbar-item[title="PlatformIO: Build"],
.statusbar-item[title="PlatformIO: Upload"] {
    color: white;
    box-shadow: 1px -2px 6px 2px #bbc1cd;
}

.statusbar-item[title="PlatformIO: Build"]:hover,
.statusbar-item[title="PlatformIO: Upload"]:hover {
    color: white;
    box-shadow: 1px -2px 6px 2px #8BC34A;
}

/** Highlight current branch */
.statusbar-item#status\.scm {
    color: #75beff
}
